/* adding import for tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* biar gak scroll tembus */
  overscroll-behavior: none;
}

.card-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* ===== Infinite Scroll ===== */
@keyframes scroll-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* Gunakan variable kecepatan (speed) agar tidak glitch saat hover */
.animate-scroll-horizontal {
  animation: scroll-horizontal linear infinite;
  animation-duration: calc(var(--speed, 1) * 30000ms);
  will-change: transform;
  animation-direction: var(--direction, normal);
  transition: --speed 0.5s ease;
}

/* Saat hover, ubah speed */
.slider-hover-area:hover .animate-scroll-horizontal {
  --speed: 5; /* makin besar = makin lambat (karena durasi = *speed) */
}